/**
 * Table of Contents
 *
 *
 *
 *
 * Reset
 * 
 *Text & Fonts
 * Header
 * Bootstrap Override
 * Sideview
 * Search & Status-bar
 * Buttons 
 *
 */

/***************************************************
Reset
***************************************************/

html {
	background-image: url(../images/home-background.jpg);
	font-style: Helvetica;	
}


body {
	background-color: transparent;
}
/***************************************************
Text & Fonts
***************************************************/
h1, h2, h3, h4, h5, h6 {
	margin-left: 5px;
}

/***************************************************
--------
***************************************************/
#page-logo {
	text-align:left;float:left;
}

#page-tagline {
	display: inline;
}


.demo-view-buttons {
	float: right;
}

.example-container {
	display: none;
}

.start-page {
	/*display: block;
	position: fixed;*/
	display: all;
	width: 600px;
    height: 300px;
    background-color: rgba(253, 253, 253, 0.83);
    /*position: absolute;*/
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 241px 0px 241px 5px;
    /* opacity: .5; */
}

.tot {
	position:absolute;
	bottom: 1px;
}

.start-page h2, .main2dishes, #main1view2ingrheader::after {
	display: block;
	content: ""; 
	/*..here, auto makes the element float in the middle but stay locked vertically*/
	margin: .7em auto 0;
	width: 98%;
	border-bottom: solid 1px black;
	/*opacity: .5;*/
}

/* .main2dishes::after {
	display: block;
	content: ""; 
	/* ..here, auto makes the element float in the middle but stay locked vertically
	margin: .7em auto 0;
	width: 98%;
	border-bottom: solid 1px black;
	/* opacity: .5; 
} */

/***************************************************
Header
***************************************************/
#page-header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 100px;
	background-color: rgba(245, 222, 111, 0.5);
	z-index: 1;
	/*margin:0px auto;*/
	/*background: transparent;*/
	/* background-opacity: .5; */
}



/***************************************************
Bootstrap Override
***************************************************/

img { 
   border:2px solid #021a40;
}

.main1, .main2 {
	display: none;
	margin-bottom: 0px;
}
.main1view1, .main1view2, .main2view1, .main2view2 {
	/*overflow: scroll;*/
}

.main1 {
	background-color: rgba(245, 222, 111, 1);
}
.main2 {
	background-color: #edd;
}
.main1content {
	background-color: #4dd;
}
.main1view1 {
	background-color: white;
	image-border: solid;

}

.main1view1dishes{
	margin-left: auto;
	margin-right: auto;
	height: 180px;
	border: 1px solid grey;
    /* justify-content: space-around; */
}

.main1view2 {
	background-color: #C2E8E2;
}

.main2view2{
	background-color: pink;
}

.main1search {
	background-color: rgba(245, 222, 111, 1);
}
.container {
	width: 100%;
	margin: 100px 0px 0px 0px;
}
.main2printrecipe {
	text-align:center;
}
.main2prepdish {
	border-bottom: 2px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}
/***************************************************
Sideview
***************************************************/
.main1-sideview {
	background-color: white;
	padding-bottom: 100%;
	border: solid black;
}
.side-view-people-selection {
	display: block;
}

.side-view-dish-name-and-cost {
	display: block;
	border: solid grey;
	background: lightgrey;
} 
/* .side-view-dish-name {
	position: absolute;
} */

.side-view-dish-cost {
	position: absolute; 
	right: 25px;
}
.side-view-pending-foods {
	background-color: yellow;
	border: solid green;
}
.side-view-total-cost-and-confirm {
	margin-top: 60%;
}

.pending-foods-in-sideview::after {
	display: block;
	content: ""; 
	/*..here, auto makes the element float in the middle but stay locked vertically*/
	margin: .7em auto 0;
	width: 98%;
	border-bottom: solid 1px black;
	/*opacity: .5;*/
}

/***************************************************
main1view2
***************************************************/
.main1view2dishname {
	background-color: #34dae5;
}
.main1view2ingredients {
	background-color: #F5F5DC;
	padding-bottom: 20px;
	border: solid grey;

}
.main1view2preparation {
	background-color: #ad22d3;
}

.row-for-display-ingredients{
	margin-bottom: 40px;
}



/***************************************************
Search & Status-bar
***************************************************/
.main2statusbanner {
	background-color: rgba(245, 222, 111, 1);
	border: 2px solid black;
}

.dishname {
	padding: 1px;
}

.dishcost {
	padding:2px;
	text-align:right;
}

/***************************************************
Buttons
***************************************************/

 /* Search function */
.btn {
	margin-bottom: 10px;
}

.right{
	border-left: 2px solid black;
	height:204px;
	
}

#go-back-to-edit, #go-back-to-overview {
	display: inline;
	float:right;
	margin-top: 15px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.input-people {
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	width: 50px;
}
	
#print-recipe {
	position: relative;
	
    margin: 10 auto;
}
.main2-go-back {
	/*position: inline;*/
	float: right;
	/*vertical-align: center;*/
	display: inline-block;
    vertical-align: middle;
}

.dishbuttons{
	margin-bottom:10px;
}
#confirm-dish {
	float:right;
}

#back {
	float:left;
}

/***************************************************
Popover
***************************************************/

.popover-content {
    background-color: gray;
    color: #FFFFFF;
    padding: 25px;
	max-width:600px;
}