/**
 * Table of Contents
 *
 *
 *
 *
 * Reset
 * 
 *Text & Fonts
 * Header
 * Bootstrap Override
 * Sideview
 * Search & Status-bar
 * Buttons 
 *
 */

/***************************************************
Reset
***************************************************/

html {
	background-image: url(../images/home-background.jpg);
	font-style: Helvetica;	
}
body {
	background-color: transparent;
}
/***************************************************
Text & Fonts
***************************************************/
h1, h2, h3, h4, h5, h6 {
	margin-left: 5px;
}

/***************************************************
--------
***************************************************/
#page-logo {
	text-align:left;float:left;
}

#page-tagline {
	display: inline;
}

.demo-view-buttons {
	float: right;
}

.example-container {
	display: none;
}

.start-page {
	/*display: block;
	position: fixed;*/
	display: all;
	width: 600px;
    height: 300px;
    background-color: beige;
    /*position: absolute;*/
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 241px 0px 241px 5px;
    /*opacity: .5;*/
}


.start-page h2::after {
	display: block;
	content: ""; 
	/*..here, auto makes the element float in the middle but stay locked vertically*/
	margin: .7em auto 0;
	width: 98%;
	border-bottom: solid 1px black;
	/*opacity: .5;*/
}
.main2dishes::after {
	display: block;
	content: ""; 
	/*..here, auto makes the element float in the middle but stay locked vertically*/
	margin: .7em auto 0;
	width: 98%;
	border-bottom: solid 1px black;
	/*opacity: .5;*/
}

/***************************************************
Header
***************************************************/
#page-header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 100px;
	background-color: beige;
	z-index: 1;
	/*margin:0px auto;*/
	/*background: transparent;*/
	/*opacity: .5;*/
}



/***************************************************
Bootstrap Override
***************************************************/
.main1, .main2 {
	display: none;
	margin-bottom: 0px;
}
.main1view1, .main1view2, .main2view1, .main2view2 {
	/*overflow: scroll;*/
}

.main1 {
	background-color: #afa;
}
.main2 {
	background-color: #edd;
}
.main1content {
	background-color: #4dd;
}
.main1view1 {
	background-color: #C895E8

}
.main1view2 {
	background-color: #C2E8E2
}

.main2view2 p {
	background-color: pink;
}

.main1search {
	background-color: lightred;
}
.container {
	width: 100%;
	margin: 100px 0px 0px 0px;
}
.main2printrecipe {
	/*height: 100%;*/
	/*margin-bottom: 0px;*/
}

/***************************************************
Sideview
***************************************************/
.side-view {
	background-color: orange;
	padding-bottom: 100%;
	margin: 0;
	border: solid red;
}
.side-view-people-selection {
	display: block;
	border: solid green;
}

.side-view-dish-name-and-cost {
	display: block;
	border: solid purple;
}
.side-view-dish-name {
	position: left;
}
.side-view-dish-cost {

}
.side-view-pending-foods {
	background-color: yellow;
	border: solid green;
}
.side-view-total-cost-and-confirm {
	border: solid magenta;
	margin-top: 50px;
}

.pending-foods-in-sideview::after {
		display: block;
	content: ""; 
	/*..here, auto makes the element float in the middle but stay locked vertically*/
	margin: .7em auto 0;
	width: 98%;
	border-bottom: solid 1px black;
	/*opacity: .5;*/
}

/***************************************************
Search & Status-bar
***************************************************/
.main2statusbanner {
	background-color: #6AADB5;
}

/***************************************************
Buttons
***************************************************/
.print-recipe {
	/*position: relative;

	text-align: center;
	*/
	display: block;
    margin: 0 auto;
    /*text-align: center;*/
    margin-bottom: 100%;
}
.main2-go-back {
	/*position: inline;*/
	float: right;
	/*vertical-align: center;*/
	display: inline-block;
    vertical-align: middle;
}

/***************************************************
Popover
***************************************************/

.popover-content {
    background-color: gray;
    color: #FFFFFF;
    padding: 25px;
	max-width:600px;
}